/* Dropdown.css */

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  top: 100%; /* Position the dropdown menu below the toggle */
  left: 0; /* Align the left edge of the dropdown menu with the toggle */
}

.dropdown-menu li {
  padding: 0px; /* Adjust padding as needed */
}

.dropdown-menu li:hover {
  background-color: #f1f1f1; /* Change background color on hover if desired */
}

.dropdown-menu li a {
  display: block; /* Display links as block elements to occupy full width */
  color: #f5725c;; /* Text color */
  text-decoration: none;
  width: 120px; /* Remove default underline */
}

.dropdown-menu li a:hover {
  text-decoration: underline; /* Underline links on hover if desired */
}
